.d-flex.pb-3.justify-content-between(style="border-bottom: 1px solid #eee")
  .search-form.w-50
    .p-inputgroup
      span.p-inputgroup-addon: i.pi.pi-search
      input.w-100.search-input(type="text" placeholder="أبحث عن شحنة")
  
  .user-menu.d-flex.align-items-center.gap-2
    .user-avatar.d-flex.align-items-center.gap-2.cursor-pointer
      img.circle-avatar(src="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" width="40")
      .d-flex.flex-column
        span.user-name مرحباً , حامد
        span.user-role.text-muted(style="font-size: 0.7rem") مسئول
      i.pi.pi-chevron-down